<h1>You can edit the subscriber list here!</h1>
<%= render 'shared/errors', obj: @subscriberList %>
<%= render 'form' %>

<%= link_to "Cancel and Return to Subscriber lists", subscriber_lists_path, class: "btn btn-outline-info" %>
         