<h1> Subscriber Lists</h1>



<div align="center">
  <%= will_paginate @subscriberLists%>
</div>
<%= render 'subscriber_list', obj: @subscriberLists %>
<div align="center">
  <%= will_paginate @subscriberLists%>
</div>

</div>