
<p class="bg-primary text-center"><mark><%= current_user.username %></mark>'s Subscriber Lists</p>


<div align="center">
  <%= will_paginate @subscriberLists%>
</div>
<%= render 'subscriber_list', obj: @subscriberLists %>
<div align="center">
  <%= will_paginate @subscriberLists%>
</div>

</div>