

                  
<div id="page-content">
<div class = container id="home-container">
<div class="jumbotron" text-center text-white> 
  <h1 class="display-4">Bulletin</h1>


  <%= link_to "Go to Subscriber lists", subscriber_lists_path, class: "btn btn-outline-info" %> |

<%= link_to "About page", about_path, class: "btn btn-outline-info" %>
 <div id="sign-up">
 <%= link_to "Sign up now", about_path, class: "btn btn-warning btn-lg btn-xlarge" %> 

</div>
</div>
</div>
</div>