
<div class="blackimg">
<bulletin>

</bulletin>


<div class="polaroid1 ">


    <ul><p style="color:black;"><b>
Sign up now!</b>
  </p>
</ul>
<ul>
<button class="button-77" role="button">
 <%= link_to "Create account", signup_path %> 
 </button>
 </ul>

<p style="color:black;">
<b>
 Already Have an account?</p></b>
 </ul>
 <ul>
 <button class="button-51" role="button">
<%= link_to "Log in", login_path%>
 </button>


</div>
</div>
                  
<div class="homeimg">

</div>