<h1>Welcome to the home page</h1>

<%= link_to "Go to Subscriber lists", subscriber_lists_path, class: "btn btn-outline-info" %> |

<%= link_to "About page", about_path, class: "btn btn-outline-info" %>
                  