<h1 align="center">Listing all subscribers</h1>
<div align="center">



<div align="center">
  <%= will_paginate @subscribers%>
</div>
<%= render 'subscribers', obj: @subscribers %>
<div align="center">
  <%= will_paginate @subscribers%>
</div>

</div>



